{% extends "base_generic.html" %}

{% block content %}

<h1>Delete Author</h1>
    {% if author.authorinstance_set.all %}
        <p>You can't delete this author until all copies have been deleted:</p>

        <ul>
        {% for copy in author.authorinstance_set.all %}
            <li>{{copy.id}}</a> (Imprint: {{copy.imprint}})</li>
        {% endfor %}
        </ul>

    {% else %}
        <p>Are you sure you want to delete the author: {{ author }}?</p>

        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Yes, delete.">
        </form>
    {% endif %}
{% endblock %}